* {
  box-sizing: border-box;
  font-family: Helvetica, Neue;
}

:root {
  --gray: #707070;
  --shadow:#00000029;
  --text: #888888;
  --white:#FFFFFF;
}

body {
  color: var(--text);
  margin: 0px;
  z-index: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 9px;
  padding-right: 18px;
  width: 100%;
}

.header {
  background: var(--gray);
  color: var(--white);
  height: 270px;
  margin: 0px auto;
  margin-bottom: 170px;
  padding: 66px 0px 56px 0px;
  width: 100vw;
}

header:after {
  background: var(--gray);
  content: '';
  height: 250px;
  position: absolute;
  top: 28px;
  transform: skewY(18deg);
  transform-origin: top left;
  width: 100%;
  z-index: -1;
}

.header__text {
  margin-left: 7px;
}

.header__text h2 {
  font-size:20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.header__text h1 {
  font-size:40px;
  line-height: 49px;
  margin: 0;
}

.header__text p {
  font-size:14px;
  line-height: 16px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 56px;
  row-gap: 20px;
  width: 345px;
}

.btn {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 4px;
  color: var(--text);
  cursor: pointer;
  height: 40px;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--gray);
  color: var(--white);
}

nav .btn {
  box-shadow: 0px 1px 6px var(--shadow);
  font-size: 14px;
  width: 160px;
}

.text div h2 {
  font-size:20px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

.text div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.text p{
  font-size: 12px;
  line-height: 18px;
}

.subscribeFormContainer {
  margin-bottom: 91px;
}

.subscribeForm input{
  border: 1px solid var(--gray);
  height: 30px;
  width: 100%;
}

.subscribeForm {
  max-width: 400px;
  margin: 0 auto;
}

.subscribeForm label{
  font-size: 12px;
}

.radioGroup {
  align-items: center;
  display: flex;
  height: 14px;
  justify-content: space-between;
  width: 203px;
}

.radioGroup input {
  height: auto;
  margin-top: 0;
  width: 14px;
}

.text div img {
  height: 9.07px;
  width: 18.15px;
}

.subscribeForm .btn {
  width: 100%;
}

.subheader {
  align-items: center;
  display: flex;
  width: 100vw;
}

.subheader h3{
  background-color: var(--white);
  height: 20px;
  margin: 0px 22px;
}

.subheader__line {
  background-color: var(--gray);
  flex: 1;
  height: 1px;
}

.btn__sectionEnd {
  margin: 0px auto;
  width: 260px;
}

.productsSection {
  margin-bottom: 129px;
}

.productsSection .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 53px;
}

.shareNewsletter p {
  font-size: 14px;
  text-align: center;
}

.shareNewsletter label{
  font-size: 12px;
}

.shareNewsletter input{
  border: 1px solid var(--gray);
  height: 30px;
  width: 100%;
}

.shareNewsletter form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}

.shareNewsletter form div{
  width: 100%;
}

.shareNewsletter form button{
  margin-top: 22px;
}

.shareNewsletterContainer {
  margin-bottom: 125px;
}

.footer {
  background: var(--gray);
  color: var(--white);
  font-size: 12px;
  line-height: 8px;
  margin: 0px auto;
  padding: 12px 0px 36px 0px;
  position: relative;
  text-align: center;
  width: 100vw;
}

footer:after {
  background: var(--gray);
  content: '';
  height: 80px;
  left: 0;
  position: absolute;
  top: -63px;
  transform: skewY(-6deg);
  transform-origin: top right;
  width: 100%;
  z-index: -1;
}

.item {
  display: flex;
  margin: 30px auto 0px;
  width: 392px;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
}

.productDescription {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-left: 23px;
  row-gap: 9px;
  width: 200px;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item__image {
  border: 1px solid var(--gray);
  height: 129px;
  width: 169px;
  padding: 9px 11.8px;
}

.item__description {
  display: none;
}

.item__name {
  font-size: 14px;
}

.item__price, .item__btn {
  font-size: 16px;
}

.item__btn {
  height: 30px;
}

@media only screen and (min-width: 576px) {
  .container {
      max-width: 540px;
  }

  header:after {
    transform: skewY(12deg);
  }

  footer:after {
    transform: skewY(-3deg);
  }
}

@media only screen and (min-width: 768px) {
  .container {
      max-width: 93vw;
  }

  header:after {
    transform: skewY(8deg);
  }

  footer:after {
    transform: skewY(-1.5deg);
  }
}

@media only screen and (max-width: 962px) {
  .shareNewsletter form {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 962px){
  .container {
    max-width: 930px;
    padding: 0;
  }

  .header__text {
    text-align: center;
  }

  header:after {
    transform: skewY(4deg);
  }

  nav {
    flex-wrap: nowrap;
    width: 769px;
  }

  .text {
    width: 520px;
  }

  .text div {
    margin-bottom: 30px;
  }

  .subscribeFormContainer img {
    display: none;
  }

  .subscribeFormContainer {
    display: flex;
    justify-content: space-between;
  }

  .subscribeForm {
    width: 340px;
  }

  .subheader {
    max-width: 930px;
    margin: 0 auto;
  }

  .item {
    display: inline;
    margin: 39px 0 0;
    width: auto;
  }

  .item__image {
    height: 150px;
    width: 200px;
  }

  .item__description {
    display: inline;
    line-height: 16px;
  }

  .productsList {
    justify-content: space-between;
  }

  .productDescription {
    margin: 0;
  }

  .shareNewsletter p {
    margin: 44px 0 39px;
  }

  .shareNewsletter form {
    justify-content: space-between;
    margin: 0 auto;
    width: 720px;
  }

  .shareNewsletter form div {
    width: 340px;
  }

  .shareNewsletter input {
    width: 340px;
  }
}
